{% extends 'base.html' %}

{% block page_name %}
Home
{% endblock page_name%}

{% block content %}
    <div class="container mx-auto pb-10">
        <div class="container rounded-xl h-50vh bg-gray-800 w-full mt-24 mb-24">
        </div>
        <div class="flex flex-wrap -mx-10 mb-10">
            {% for store in object_list %}
                {% include 'mixins/store_card.html' with store=store %}
            {% endfor %}

        </div>
    
        <div class="flex items-center justify-center">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
    
            <span class="mx-3">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </div class="flex items-center">
    </div>


{% endblock content %}