{% extends "base.html" %}

{% block page_title %}
    Profile
{% endblock page_title%}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}
<div class="h-4/5">
    <div class='container xl: w-1/4 lg:w-5/12 md:w:1/2 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400'>
        {% include 'mixins/user_avatar.html' with user=user_obj%}
            <span class='font-medium text-2xl mt-2'>{{user_obj.email}}</span>
        {% if user == user_obj %}
            <a href="{% url 'users:update' %}" class='btn-link'>Edit Profile</a>
        {% endif %}
    </div>
    {% if user_obj.stores.count > 0%}
    <div class='container mx-auto pb-10flex flex-col items-center'>
        <h3 class='mb-20 text-2xl'>My Store</h3>
        <div class="flex flex-wrap -mx-10 mb-10">
            {{user_obj.name}}
            {% for store in user_obj.stores.all %}
                {% include 'mixins/store_card.html' with store=store %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
<div>


{% endblock content %}